/* Ensure the body and html elements take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #f1f1f1; /* Optional: background color for the entire page */
}

/* Wrapper for the login container */
.wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Full height of the viewport */
}

/* Center the login container */
.login-container {
    max-width: 400px;
    width: 100%; /* Ensure the container is responsive */
    padding: 20px;
    margin: auto;
    margin-top: 50px; /* Adjust margin from the top (increase for more space) */
    margin-block-end: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styling for headings */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for form elements */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styling for buttons */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #526272;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #526272;
}

/* Styling for registration link */
.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.link-style {
    color: #007bff; /* Link color */
    text-decoration: underline;
    cursor: pointer;
}

.link-style:hover {
    text-decoration: none; /* Optional: Remove underline on hover */
}
