<div class="cart">
  <h2>Shopping Cart</h2>
  <ul *ngIf="cartItems.length > 0">
    <li *ngFor="let item of cartItems">
      <img [src]="item.product.imageUrl" alt="{{ item.product.title }}" />
      <h3>{{ item.product.title }}</h3>
      <p>{{ item.product.description }}</p>
      <p>Price: {{ item.product.price | currency: 'TND' }}</p>
      <p>Quantity: 
        <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(item.product, item.quantity)" />
      </p>
      <button (click)="removeFromCart(item.product)">Remove</button>
    </li>
  </ul>
  <div class="empty-cart-message" *ngIf="cartItems.length === 0">
    <p>Your cart is empty!</p>
    <p>Explore our categories and discover our best offers!</p>
    <button (click)="startShopping()" routerLink="../home">START SHOPPING</button>
  </div>
  <button *ngIf="cartItems.length > 0" (click)="clearCart()">Clear Cart</button>
</div>
