<div class="register-container">
    
    <form (submit)="register()">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit">Register</button>
    </form>
    <div class="login-link">
        <p>If you have an account, <span (click)="login()" class="link-style">login here</span>.</p>
    </div>
</div>
